.header__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.header{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--cor-branco);
    width: 65%;
    height: auto;
    outline: none;
}

.lista-menu__titulo{
    font-weight: 700;
    padding: 1em 0 1em 1em;
    color: var(--cor-laranja);
}    

.lista-menu__item{        
    padding: 1em 0 1em 1em;
    background-color: var(--cor-branco);   
}

.lista-menu__link{
    text-decoration: none;
    color: transparent;
    background-image: var(--cor-gradiente-azul);
    -webkit-background-clip: text;
    background-clip: text;
}

.container__botao{
    display: none;
}

.container__botao:checked ~.container__rotulo > .header__menu-hamburguer{
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--cor-gradiente-azul);
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.header__container__opcoes{
    display: none;
}


@media screen and (min-width: 1024px){
    .container__titulo--negrito{
        font-family: var(--fonte-logo);
        font-weight: 700;
        font-size: 2rem;
    }
    
    .container__titulo{
        font-family: var(--fonte-logo);
        font-size: 2rem;
        display: block;
    }
    
    .opcoes{
        display: flex;
    }

    .opcoes__item{        
        padding: 2em 1em;
        text-transform: uppercase;
    }
    
    .opcoes__link{
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__imagem-transparente{
        display: none;
    }

    .header__menu-hamburguer{
        display: none;
    }

    .container__botao__opcoes{
        display: none;
    }
    .container__botao__opcoes:checked ~ .lista-menu{
        display: block;
        width: 20%;
    }
    .container{
        padding: 0 3em;
    }

    .container__botao__opcoes:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--cor-gradiente-azul);
        color: var(--cor-branco);
    }

    .lista-menu__item:hover{
        background: var(--cor-gradiente-azul);
    }
    
    .lista-menu__item:hover > .lista-menu__link{
        color: var(--cor-branco);
    }
}

@media screen and (min-width:1728px){
    .container{
        padding: 0 3em;
    }
    .header__container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.25rem;
        color: var(--cor-preto);
    }

    .header__container__opcoes{
        display: inline;        
    }

    .header{
        display: flex;
    }

    .opcoes{
        margin-right: auto;
    }


}